﻿@model Tabula.Models.ContentNote

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ContentNote</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Content, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Content)
                @Html.ValidationMessageFor(model => model.Content)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CatalogId, "CatalogId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CatalogId", String.Empty)
                @Html.ValidationMessageFor(model => model.CatalogId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserProfileId, "UserProfileId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UserProfileId", String.Empty)
                @Html.ValidationMessageFor(model => model.UserProfileId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageUrl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImageUrl)
                @Html.ValidationMessageFor(model => model.ImageUrl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreateDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateDate)
                @Html.ValidationMessageFor(model => model.CreateDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastUpdate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastUpdate)
                @Html.ValidationMessageFor(model => model.LastUpdate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Like_Count, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Like_Count)
                @Html.ValidationMessageFor(model => model.Like_Count)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comment_Count, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comment_Count)
                @Html.ValidationMessageFor(model => model.Comment_Count)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Short_Content, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Short_Content)
                @Html.ValidationMessageFor(model => model.Short_Content)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Video_Url, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Video_Url)
                @Html.ValidationMessageFor(model => model.Video_Url)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Author, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Author)
                @Html.ValidationMessageFor(model => model.Author)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
