﻿@model Tabula.Models.ContentNote

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ContentNote</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Like_Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Like_Count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment_Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment_Count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Short_Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Short_Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Video_Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Video_Url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Catalog.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Catalog.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserProfile.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserProfile.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
