﻿@{
    ViewBag.Title = "Home Page";
}
<!--start: Wrapper-->
		<div id="wrapper">
		
			<!-- start: Wall -->
			<div id="wall" class="row-fluid">
                <div class="span3 item">
                    <div class="quotes">
                        <div class="quote">
                            “That’s not what we think design is. It’s not just what it looks like and feels like. Design is how it works”
                        </div>
                        <div class="author">
                            - Steve Jobs -
                        </div>
                    </div>
                </div>
				<div class="span3 item">
					<div class="picture">
						<a class="image" href="project.html" title="Title"><img src="img/photo5.jpg" alt="" /></a>
						<div class="description">
							<p>
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
							</p>
						</div>
						<div class="meta">
							<span><i class="fa-icon-calendar"></i>1 June 2011</span>
							<span><i class="fa-icon-user"></i> <a href="#">lucas</a></span>
							<span><i class="fa-icon-heart-empty"></i> 88</span>
						</div>
					</div>
				</div>

				<div class="span3 item">
					<div class="quotes">
						<div class="quote">
						“In most people’s vocabularies, design means veneer. It’s interior decorating. It’s the fabric of the curtains of the sofa. But to me, nothing could be further from the meaning of design. Design is the fundamental soul of a human-made creation that ends up expressing itself in successive outer layers of the product or service.”
						</div>
						<div class="author">
							- Steve Jobs -
						</div>	
					</div>
				</div>

				<div class="span3 item">
					<div class="picture">
						<a class="image" href="project.html" title="Title"><img src="img/photo1.jpg" alt="" /></a>
						<div class="description">
							<p>
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
							</p>
						</div>
						<div class="meta">
							<span><i class="fa-icon-calendar"></i>1 June 2011</span>
							<span><i class="fa-icon-user"></i> <a href="#">lucas</a></span>
							<span><i class="fa-icon-heart-empty"></i> 88</span>
						</div>
					</div>	
				</div>

				<div class="span3 item">
					<div class="picture">
						<a class="image" href="project.html" title="Title"><img src="img/photo9.jpg" alt="" /></a>
						<div class="meta">
							<span><i class="fa-icon-calendar"></i>1 June 2011</span>
							<span><i class="fa-icon-user"></i> <a href="#">lucas</a></span>
							<span><i class="fa-icon-heart-empty"></i> 88</span>
						</div>
					</div>
				</div>

				<div class="span3 item">
					<div class="picture">
						<a class="image" href="project.html" title="Title"><img src="img/photo2.jpg" alt="" /></a>
						<div class="meta">
							<span><i class="fa-icon-calendar"></i>1 June 2011</span>
							<span><i class="fa-icon-user"></i> <a href="#">lucas</a></span>
							<span><i class="fa-icon-heart-empty"></i> 88</span>
						</div>	
					</div>
				</div>

				<div class="span3 item">
					<div class="picture">
						<a class="image" href="project.html" title="Title"><img src="img/photo3.jpg" alt="" /></a>
						<div class="description">
							<p>
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
							</p>
						</div>
						<div class="meta">
							<span><i class="fa-icon-calendar"></i>1 June 2011</span>
							<span><i class="fa-icon-user"></i> <a href="#">lucas</a></span>
							<span><i class="fa-icon-heart-empty"></i> 88</span>
						</div>	
					</div>
				</div>

				<div class="span3 item">
					<div class="picture">
						<a class="image" href="project.html" title="Title"><img src="img/photo4.jpg" alt="" /></a>
						<div class="meta">
							<span><i class="fa-icon-calendar"></i>1 June 2011</span>
							<span><i class="fa-icon-user"></i> <a href="#">lucas</a></span>
							<span><i class="fa-icon-heart-empty"></i> 88</span>
						</div>	
					</div>
				</div>

				<div class="span3 item">
					<div class="flex-video">
						<iframe src="http://player.vimeo.com/video/3538565?portrait=0&color=ffffff" width="480" height="256" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>	
					</div>
				</div>

				<div class="span3 item">
					<div class="picture">
						<a class="image" href="project.html" title="Title"><img src="img/photo6.jpg" alt="" /></a>
						<div class="description">
							<p>
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
							</p>
						</div>
						<div class="meta">
							<span><i class="fa-icon-calendar"></i>1 June 2011</span>
							<span><i class="fa-icon-user"></i> <a href="#">lucas</a></span>
							<span><i class="fa-icon-heart-empty"></i> 88</span>
						</div>	
					</div>
				</div>

				<div class="span3 item">
					<div class="picture">
						<a class="image" href="project.html" title="Title"><img src="img/photo7.jpg" alt="" /></a>
						<div class="meta">
							<span><i class="fa-icon-calendar"></i>1 June 2011</span>
							<span><i class="fa-icon-user"></i> <a href="#">lucas</a></span>
							<span><i class="fa-icon-heart-empty"></i> 88</span>
						</div>
					</div>
				</div>

				<div class="span3 item">
					<div class="picture">
						<a class="image" href="project.html" title="Title"><img src="img/photo8.jpg" alt="" /></a>
						<div class="description">
							<p>
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
							</p>
						</div>
						<div class="meta">
							<span><i class="fa-icon-calendar"></i>1 June 2011</span>
							<span><i class="fa-icon-user"></i> <a href="#">lucas</a></span>
							<span><i class="fa-icon-heart-empty"></i> 88</span>
						</div>	
					</div>
				</div>

				<div class="span3 item scenery">
					<div class="quotes">
						<div class="quote">
							“Innovation distinguishes between a leader and a follower.”	
						</div>
						<div class="author">
							- Steve Jobs -
						</div>	
					</div>
				</div>

				<div class="span3 item">
					<div class="quotes">
						<div class="quote">
						“Visual design is often the polar opposite of engineering: trading hard edges for subjective decisions based on gut feelings and personal experiences. It’s messy, unpredictable, and notoriously hard to measure. The apparently erratic behavior of artists drives engineers bananas. Their decisions seem arbitrary and risk everything with no guaranteed benefit.”
						</div>
						<div class="author">
							- Scott Stevenson -
						</div>	
					</div>
				</div>

				<div class="span3 item">
					<div class="picture">
						<a class="image" href="project.html" title="Title"><img src="img/photo10.jpg" alt="" /></a>
						<div class="description">
							<p>
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
							</p>
						</div>
						<div class="meta">
							<span><i class="fa-icon-calendar"></i>1 June 2011</span>
							<span><i class="fa-icon-user"></i> <a href="#">lucas</a></span>
							<span><i class="fa-icon-heart-empty"></i> 88</span>
						</div>	
					</div>
				</div>

				<div class="span3 item">
					<div class="picture">
						<a class="image" href="project.html" title="Title"><img src="img/photo11.jpg" alt="" /></a>
						<div class="description">
							<p>
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
							</p>
						</div>
						<div class="meta">
							<span><i class="fa-icon-calendar"></i>1 June 2011</span>
							<span><i class="fa-icon-user"></i> <a href="#">lucas</a></span>
							<span><i class="fa-icon-heart-empty"></i> 88</span>
						</div>	
					</div>
				</div>

				<div class="span3 item">
					<div class="picture">
						<a class="image" href="project.html" title="Title"><img src="img/photo12.jpg" alt="" /></a>
						<div class="meta">
							<span><i class="fa-icon-calendar"></i>1 June 2011</span>
							<span><i class="fa-icon-user"></i> <a href="#">lucas</a></span>
							<span><i class="fa-icon-heart-empty"></i> 88</span>
						</div>
					</div>
				</div>

			</div>
			<!-- end: Wall -->				
					
		</div>
		<!--end: Container-->